body {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.wrapper button {
    padding: .7em 1em;
    background: lightcoral;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border-radius: .4em;
    border: none;
    outline: none;
}

.accordian {
    width: 500px;
}

.item {
    background: #614101;
    margin-bottom: 1em;
    padding: .7em 1em;
    border-radius: .3em;
}

.item-title {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.item-title span {
    font-size: 2rem;
    color: yellow;
}

.item:hover {
    box-shadow: 0 .1em .1em #000;
}

.content {
    color: #fff;
    height: auto;
}