body {
    margin: 0;
    padding: 0;
}

.weather-app {
    text-align: center;
    margin: 3.125em auto 0;
    width: 90%;
    max-width: 43.75rem;
    border-radius: 1.25em;
    height: 30rem;
    padding: 1.25em .93em;
    background: rgb(0, 255, 166);
}

.search-engine {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.8em;
    margin-top: .8em;
}

.search-engine input {
    width: 70%;
    height: 2.81rem;
    border: .2em solid;
    border-radius: .5em;
    padding: .1em 1em;
    font-size: 1rem;
    outline: none;
    background-color: #fff;
    color: #555;
}

.search-engine button {
    border: none;
    border-radius: .5em;
    background-color: #000;
    color: #fff;
    font-size: 1.325rem;
    outline: none;
    cursor: pointer;
    padding: .6em .7em;
}

.city-name {
    margin-bottom: 0.625em;
}

.loading {
    font-size: 5rem;
    font-weight: bolder;
    color: #000;
}

.date {
    font-size: 1.125rem;
    font-weight: 500;
    font-style: italic;
}

.temp {
    font-size: 5.1rem;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.description {
    color: #000;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1em;
}

.weather-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.2em;
    padding: 0 1.2em;
    font-weight: bold;
    text-align: center;
}

.column {
    display: flex;
    align-items: center;
    line-height: 1px;
}